$headerColor: #363636;

$darkGrayColor: #444444;

$grayColor: #9B9B9B;

$lightGrayColor: #808080;

$distanceMenu: 5vw;

$menuFontSize: 6vw;

$hoverGreen: #4ef541;

$menuWidth: 62%;




// Media queries

$tablet: "screen and (min-width: 568px)";







@media #{$tablet}{
  $menuWidth: 218px;
}