@import "variables";

header{
  width: 100%;
}

.topHeader{
  height: 11vw;
  width: 100%;
  background-color: $headerColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff;

  > .profilePicture{
    height: 7.37vw;
    width: 7.37vw;
    background-image: url("../img/gardenShopLogo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10000px;
    margin-right: 1.45vw;
  }

  > .websiteURL{
    display: flex;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 3vw;

    > p{
      color: #ffffff;
    }
  }
}

.stickyHeader{
  background-color: $headerColor;
  height: 8.7vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  position: sticky;
  top: 0;
  z-index: 100;

  > div{
    display: flex;
    align-items: center;

    > .fa-tachometer-alt{
      color: #ffffff;
      font-size: 4.5vw;
      margin-right: 1.5vw;
      margin-bottom: 0.25vw;
    }

    p{
      font-weight: bold;
      font-size: 3.85vw;
      color: white;
    }
  }

  > .fa-bars{
    color: white;
    font-size: 5.8vw;
    cursor: pointer;
  }

  > .fa-bars:hover, .fa-user-circle{
    color: $hoverGreen;
  }

  > .fa-user-circle{
    display: none;
  }
}

.blurBackdrop{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(0.2vw);
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.66);
}

.menu.menuHidden{
  right: -$menuWidth - 10%;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: $menuWidth;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $headerColor;
  z-index: 998;
  border-left: #ffffff solid 1vw;
  transition: 0.2s;

  .cross{
    position: absolute;
    top: $distanceMenu;
    right: $distanceMenu;
    height: 8vw;
    width: 8vw;
    cursor: pointer;

    > div{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 6.8vw;
      width: 1vw;
      background-color: white;
      transform: translate(-50%, -50%) rotate(45deg);
      border-radius: 0.2vw;
    }

    > div:nth-of-type(2){
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .cross:hover > div{
    background-color: $hoverGreen;
  }

  nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      color: $grayColor;
      font-size: $menuFontSize;
      text-decoration: none;
      text-transform: capitalize;
      margin-bottom: 6vw;
      font-weight: bold;

      > svg{
        margin-right: 2vw;
      }
    }

    a.current{
      color: white;
    }

    a:hover{
      color: $hoverGreen;
    }
  }

  .user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: $distanceMenu;
    right: $distanceMenu;

    .fa-user-circle{
      font-size: $menuFontSize;
      color: white;
      margin-bottom: 1.5vw;
    }

    button{
      background-color: transparent;
      border: none;
      color: $grayColor;
      font-weight: bold;
      font-size: 5.5vw;
      padding: 0;
      margin-bottom: 0.5vw;
    }

    .fa-user-circle:hover, button:hover{
      color: $hoverGreen;
    }
  }
}

@media #{$tablet}{
  $menuWidth: 218px;

  body{
    margin-left: auto;
    width: calc(100% - 218px);
  }

  .topHeader{
    height: 88px;
    width: $menuWidth;
    background-color: transparent;
    border-bottom: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    > .profilePicture{
      height: 24px;
      width: 24px;
      margin-right: 5px;
    }

    > .websiteURL{
      font-size: 14px;
    }
  }

  .stickyHeader{
    background-color: $headerColor;
    height: 30px;
    width: 100%;
    padding: 0 3vw;
    border-left: 2px solid white;

    > div{

      > .fa-tachometer-alt{
        font-size: 18px;
        margin-right: 10px;
        margin-bottom: 2px;
      }

      p{
        font-size: 18px;
      }
    }

    > .fa-bars{
      display: none;
    }

    .fa-user-circle{
      color: white;
      display: inline;
      font-size: 22px;
    }
  }

  .blurBackdrop{
    display: none !important;
  }

  .menu.menuHidden{
    right: auto;
  }

  $menuFontSize: 14px;

  .menu{
    width: $menuWidth;
    right: auto;
    left: 0;
    top: 0;
    border-left: none;

    .cross{
      display: none;
    }

    nav{
      align-items: flex-start;

      a{
        font-size: $menuFontSize;
        margin-bottom: 24px;

        > svg{
          margin-right: 8px;
        }
      }
    }

    .user{
      display: none;
    }
  }
}
































