@import "variables";

* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

html {
  overflow-y: scroll;
}

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}


$spacers:(
  0:0,
  1:0.25,
  2:0.5,
  3:1,
  4:1.5,
  5:3
);

$sides:(
  '':'',
  't':'-top',
  'r':'-right',
  'b':'-bottom',
  'l':'-left'
);

@each $sideClass, $sideName in $sides{
  @each $count, $value in $spacers{
    .m#{$sideClass}-#{$count}{
      margin#{$sideName}: #{$value}rem;
    }

    .p#{$sideClass}-#{$count}{
      padding#{$sideName}: #{$value}rem;
    }
  }

  .m#{$sideClass}-auto{
    margin#{#sideName}: auto;
  }
}




.welcome{
  height: 15vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5.3vw;

  > div{
    color: $darkGrayColor;
    font-size: 5vw;
    display: flex;
    margin-bottom: 0.7vw;

    > h6{
      color: darken($hoverGreen, 26.5);
      font-size: 5vw;
      font-weight: normal;
    }
  }

  > p{
    color: $lightGrayColor;
    font-size: 3vw;
  }
}

.main-section{
  padding: 7vw 5.3vw;
  width: 100%;
}

.analytics, .sales{
  > .infoTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;

    h6{
      font-size: 4vw;
      font-weight: normal;
      color: $darkGrayColor;
    }

    > div{
      display: flex;
      align-items: center;

      .fa-sync-alt{
        font-size: 3vw;
        color: $darkGrayColor;
        margin-right: 2.5vw;
      }

      > div{
        display: flex;
        align-items: center;
        background-color: white;
        border: solid 1px $lightGrayColor;
        border-radius: 1vw;
        padding: 0.6vw 1vw;

        .fa-calendar{
          font-size: 3.5vw;
          color: $lightGrayColor;
        }

        p{
          color: $lightGrayColor;
          font-size: 2.2vw;
          margin: 0 2vw 0 1vw;
        }

        .fa-chevron-down{
          font-size: 2.5vw;
          color: $darkGrayColor;
        }
      }
    }
  }

  .showMore{
    font-size: 2.5vw;
    color: darken($hoverGreen, 26.5);
    margin-top: 5vw;
    text-align: center;
  }
}

.analytics{
  .blocksContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    > .block{
      width: 42.5vw;
      height: 42.5vw;
      position: relative;
      border-radius: 2vw;
      overflow: hidden;
      display: grid;
      grid-template-rows: auto auto;
      border: 2px solid #D2D2D4;

      > div{
        margin: 3.4vw 2.4vw;

        > p{
          font-size: 2.2vw;
          color: $darkGrayColor;
          margin-bottom: 0.5vw;
        }

        > h6{
          font-size: 4.2vw;
          font-weight: normal;
          color: $darkGrayColor;
        }
      }

      > canvas{
        grid-row: 2/3;
        width: 100%;
        height: 40vw;
      }
    }

    > .block:nth-of-type(4){
      border: none;
      background-color: #F2F2F2;
      position: relative;

      > div{
        width: 1vw;
        height: 9vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #d9d9d9;
        margin: 0;
      }

      > div:last-of-type{
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    > .block:nth-of-type(1),.block:nth-of-type(2){
      margin-bottom: 4.35vw;
    }
  }
}

.sales{
  background-color: #F5F5F5;

  .recentSalesContainer{
    > .infoLabels{
      display: none;
    }

    > .recentSale{
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 2.5vw;
      position: relative;
      border: 1px solid $lightGrayColor;
      padding: 4.5vw 4vw;
      margin-bottom: 3vw;
      border-radius: 1.5vw;
      background-color: white;

      > div{
        grid-column: 1/2;
        display: flex;
        font-size: 3vw;
        color: $lightGrayColor;

        > p{
          color: $darkGrayColor;
        }
      }

      > p{
        display: none;
      }

      > .price{
        display: inline-block;
        text-align: right;
        position: absolute;
        margin-bottom: 4.5vw;
        bottom: 0;
        right: 0;

        > p{
          font-size: 5vw;
        }
      }
    }
  }
}

@media #{$tablet}{
  .welcome{
    height: 13.7vw;
    padding: 0 3vw;

    > div{
      font-size: 4.2vw;
      margin-bottom: 1vw;
      flex-wrap: wrap;

      > h6{
        font-size: 4.2vw;
      }
    }

    > p{
      font-size: 2vw;
    }
  }

  .main-section{
    padding: 4vw 3vw;
  }

  .analytics, .sales{
    > .infoTop{
      margin-bottom: 3vw;

      h6{
        font-size: 2.34vw;
      }

      > div{

        .fa-sync-alt{
          font-size: 1.5vw;
          margin-right: 1vw;
        }

        > div{
          border: solid 1px $lightGrayColor;
          border-radius: 0.5vw;
          padding: 0.3vw 0.6vw;

          .fa-calendar{
            font-size: 2vw;
          }

          p{
            font-size: 1vw;
            margin: 0 1vw 0 0.4vw;
          }

          .fa-chevron-down{
            font-size: 1.2vw;
          }
        }
      }
    }

    .showMore{
      font-size: 1.56vw;
      margin-top: 2.74vw;
    }
  }

  .analytics{
    .blocksContainer{

      > .block{
        width: 48%;
        height: 40vw;
        border-radius: 2vw;
        transition: 0.2s;

        > div{
          margin: 3.4vw 2.4vw;

          > p{
            font-size: 2.2vw;
            color: $darkGrayColor;
            margin-bottom: 0.5vw;
          }

          > h6{
            font-size: 3.9vw;
            font-weight: normal;
            color: $darkGrayColor;
          }
        }

        > canvas{
          grid-row: 2/3;
          width: 100%;
          height: 40vw;
        }
      }

      > .block:nth-of-type(4){
        transition: 0.2s;

        > div{
          width: 0.78vw;
          height: 7.42vw;
          transition: 0.2s;
        }
      }

      > .block:nth-of-type(4):hover{
        background-color: lighten(#F2F2F2, 2);

        > div{
          height: 9vw;
        }

      }

      > .block:nth-of-type(1),.block:nth-of-type(2){
        margin-bottom: 4vw;
      }
    }
  }

  .sales{

    .recentSalesContainer{
      > .infoLabels, .recentSale{
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr 1.5fr;
        padding: 0.7vw 0 0.7vw 3vw;
        grid-gap: 0;
      }

      > .infoLabels{

        > p{
          font-size: 1.36vw;
          color: $lightGrayColor;
        }
      }

      > .recentSale{
        margin-bottom: 1.2vw;
        border-radius: 0.6vw;

        > div{
          display: none;
        }

        > p{
          display: inline;
          font-size: 1.36vw;
          grid-column: auto;
        }

        > .price{
          display: none;
        }
      }
    }
  }
}

@media #{$pc}{
  .welcome{
    height: 160px;
    padding: 0 40px;

    > div{
      font-size: 50px;
      margin-bottom: 10px;

      > h6{
        font-size: 50px;
      }
    }

    > p{
      font-size: 24px;
    }
  }

  .main-section{
    padding: 66px 40px;
  }

  .analytics, .sales{
    > .infoTop{
      margin-bottom: 40px;

      h6{
        font-size: 36px;
      }

      > div{

        .fa-sync-alt{
          font-size: 24px;
          margin-right: 22px;
        }

        > div{
          border-radius: 5px;
          padding: 5px 10px;

          .fa-calendar{
            font-size: 30px;
          }

          p{
            font-size: 16px;
            margin: 0 10px 0 5px;
          }

          .fa-chevron-down{
            font-size: 20px;
          }
        }
      }
    }

    .showMore{
      font-size: 16px;
      margin-top: 38px;
    }
  }

  .analytics{
    .blocksContainer{

      > .block{
        grid-template-rows: 35% 1fr;
        width: 24%;
        height: 160px;
        border-radius: .5vw;

        > div{
          margin: 26px 20px;
          z-index: 2;

          > p{
            font-size: 16px;
            margin-bottom: 6px;
          }

          > h6{
            font-size: 32px;
          }
        }
      }

      > .block:nth-of-type(4){

        > div{
          width: 8px;
          height: 80px;
        }
      }

      > .block:nth-of-type(4):hover{

        > div{
          height: 100px;
        }

      }

      > .block:nth-of-type(1),.block:nth-of-type(2){
        margin-bottom: 0;
      }
    }
  }

  .sales{

    .recentSalesContainer{
      > .infoLabels, .recentSale{
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr 1.5fr;
        padding: 0.7vw 0 0.7vw 3vw;
        grid-gap: 0;
      }

      > .infoLabels{

        > p{
          font-size: 1.36vw;
          color: $lightGrayColor;
        }
      }

      > .recentSale{
        margin-bottom: 1.2vw;
        border-radius: 0.6vw;

        > div{
          display: none;
        }

        > p{
          display: inline;
          font-size: 1.36vw;
          grid-column: auto;
        }

        > .price{
          display: none;
        }
      }
    }
  }
}



















