html{
  font-family: Arial, sans-serif;
}

body{
  padding: 0;
}


.clickable{
  cursor: pointer;
}

.hide{
  display: none;
}

.noScroll{
  overflow-y: hidden;
}

$screensize: 414;

@mixin vw($side: width, $size: 10){
  $side: $screensize / 100 * $size + "vw";
}